html, body {
  margin: 0;
  padding: 0;
}

.PageSection{
    display: flex;
    width:100%;
    height:100%;
    height:100vh;
    background-color: black;
    color:azure;
    margin-bottom: 20px;

    justify-content: center;
    align-items: center;

    scroll-snap-align: start;
}



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.08);   /* subtle transparent white */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  padding-right: 4rem;
}

/* Nav links clicked */
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: opacity 0.2s ease;
}

/* Nav links hover */
.nav-links a:hover {
  opacity: 0.6;
}

/* Demo background colors */
#home { background: #111; color: white; }
#about { background: #333; color: white; }
#projects { background: #555; color: white; }
#contact { background: #777; color: white; }